.game {
  background-color: var(--blackish-color);
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  width: 300px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.game:hover {
  transform: scale(1.05);
}

.game img {
  width: 100%;
  object-fit: cover;
}

.game .game-text {
  padding: 16px 16px 24px;
}

.game-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.platform-icons .fab,
.platform-icons .fas {
  margin-left: 5px;
  font-size: 0.8rem;
}

.platform-icons .fab .iconify {
  margin: 0;
}

.rating {
  color: #16c952;
  border: 1px solid #16c952;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
}

.game h3 {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  margin: 10px 0;
  transition: color 0.3s ease;
}

.game h3:hover {
  color: var(--lightgrey-color);
}

.game p {
  color: #bdbcb7;
  font-size: 12px;
  font-weight: 300;
  margin: 5px 0;
}

.game-text-line {
  border: 1px solid var(--lightgrey-color);
  border-radius: 20px;
}

.game button {
  background-color: var(--lightgrey-color);
  color: #fff;
  font-family: inherit;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 0 10px;
  transition: all 0.5s ease;
}

.game button:focus {
  outline: none;
}

.game button:hover {
  background-color: #fff;
  color: #222;
  font-weight: bold;
}